@model IEnumerable<Web_DoChoi.ViewModel.DanhMucTimKiemViewModel>

<ul class="list-unstyled">
    @foreach(var item in Model)
    {
        <li>
            <div class="d-flex justify-content-between">
                <a href="#" style="color: gray"><i class="fas fa-list"></i> @item.DanhMuc.TenDanhMuc</a>
                <span>(@item.SoLuongSP)</span>
            </div>
        </li>
    }
 
</ul>